body {
    box-sizing: border-box;
}
.container {
    min-width: 700px;
    max-width: 910px;
    background-color: #E5E5E5;
    height: 2260px;
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing:border-box;
}
.form_header {
   font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #171717;
    padding-top: 64px;    
    margin-bottom: 79px;    
}
.mandatory {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: black;   
    margin-bottom: 24px;
}
span {
    color: red;
}
.info {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #171717;    
    margin-bottom: 32px;
}
.intake_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:no wrap;
    align-items: center;
    }
.first_label {
    display:block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-bottom: 8px;
}

input.first {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #EFEFEF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    margin-bottom: 51px;
}
.sec_label {
    display:block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-bottom: 8px;
} 
#form2 {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #EFEFEF;
    border: 1px solid #ADADAD;
    border-radius: 4px;  
    margin-bottom: 51px;
}
.phone_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
 }
#phone_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 49px;
    
}
#app_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    margin-left: 25px;
   }
label.phone {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
}
label.app {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 8%;
    margin-bottom: 8px;
}
.mail_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;   
}
.mail {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
    margin-top: 22px;
   
}
#mail_form {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block; 
    margin-bottom: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-right: 32px;
    
    
}
.mail_date {
    display:block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
    margin-bottom: 8px;
}
#date_form {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #EFEFEF;
    border: 1px solid #ADADAD;
    border-radius: 4px; 
    margin-bottom: 19px; 
    }

.label_registr{
    display:block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-bottom: 8px; 
    display: block;  
 }
    
#registr_form {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #EFEFEF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    margin-bottom: 51px;
    display: block;
}

.additional_label {
    display:block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
    margin-bottom: 8px;
}
#additional_form {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #EFEFEF;
    border: 1px solid #ADADAD;
    border-radius: 4px;      
    display: inline-block;
    margin-right: 32px;
    }
.square {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 25px;
}
#square {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: inline-block;
    margin-top: 25px;
}
.add_row {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;  
    align-items:center;
}
.remaining_row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: no wrap;  
    align-items:center;
}
.remaining {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#remaining_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 49px;
}
.exempt {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 8%;
    margin-bottom: 8px;
    margin-top: 32px;
}
#exempt_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 49px;
    margin-left: 25px;
}
.fee_row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: no wrap;  
    align-items:center;
}

.fee_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#fee_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 49px;
}
.Enrollment {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 8%;
    margin-bottom: 8px;
    margin-top: 32px;
}
#enroll_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 49px;
    margin-left: 25px;
}

.processed_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 27px;
}

#processed {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 25px;  
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.line {
    border: 1px solid #D1D1D1;
}
element.style {
    font-family: 'Public Sans'; 
}

.second_part_subheader {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
    margin-top: 32px; 
}
.requesting_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.requesting_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 360px;
    height: 12px;
    }
#requesting {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 49px;
    margin-top: 25px;
}

.biological {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #171717;
    display: inline-block;
    margin-top: 15px;
    }

#bio_form {
    box-sizing: border-box;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 5px;  
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 32px;
    
}
form.a {
    width: 90%;
} 
.third_part_subheader {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
    margin-top: 32px; 
}
.case_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;}

.Case_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#case_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}
.indicator_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 8%;
    margin-bottom: 8px;
    margin-top: 32px;
}
#indicator_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    margin-left: 25px;
}
.arrears_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;}

.arrears_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#arrears_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}
.inter_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 3%;
    margin-bottom: 8px;
    margin-top: 32px;
}
#inter_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}
.assigned_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;}

.assigned_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#assigned_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}
.type_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 3%;
    margin-bottom: 3px;
    margin-top: 32px;
}
#type_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}
.intergov_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;}

.intergov_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#intergov_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}
.casenumber_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 3%;
    margin-bottom: 8px;
    margin-top: 32px;
}
#casenumber_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}
.handlindicator_row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap;
}

.handlindicator_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#handlindicator_form {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
}
.referralnumber_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-left: 3%;
    margin-bottom: 8px;
    margin-top: 32px;
}
.refer {
    background-image: url(/img/Vector1.jpg);
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
}
.otherparent_label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    display: block; 
    margin-bottom: 8px;
    margin-top: 32px;
}
#otherparent_form {
    background-image: url(/img/Vector1.jpg);
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    width: 392px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
}
.search {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
  }
  
  .search-field {
    width: 300px;
    border: 0; 
  }
  
  .search-field:focus {
    outline: none;
  }
  
  .search-field:focus + .search-icon {
    /* стили для иконки при фокусе поля */ 
  }