body {font-family: 'PT Sans', sans-serif;}
div a {
text-decoration: none;
}
.header_container {
    height: 90px;
    background-color: #202846;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mountain_logo {
    margin-left: 138px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 60%;
    align-items: center;
    margin-left: 30;  
   padding-right: 63px;
   padding-left: 50px;
}
.nav_item {
    color: white;
}
.subheader {
    height: 140px;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;         
    color: #202846;
    background-color: #C6C6DC;
    padding-left: 227px;   
    line-height: 130px;     
}

.container {
    background-color:#E5E5E5;
    height: 1500px;
    width: 100%;
    display: block; 
    padding-top: 4%;
    position: relative;
    box-sizing:border-box;
}

.main_card {
    height: 300px;
    width: 80%;
    background: #BDBDC6;
    display: flex;
    flex-flow: row nowrap;
    margin: 36px auto;
    position: relative;      
}
.main_card:hover {
    background: rgba(174, 174, 226, 1);
    transition: all 1s auto;    
    }
.main_card:hover path {
    fill: yellow;
}
.main_card:hover button {
    background: #EF075B;
}
.card_picture {
    margin-left: 103px;
    margin-top: 28px;
    margin-bottom: 28px;
    /*display: inline-block;*/ 
    flex-grow: 3;
}
.card_title {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    flex-grow: 7;
    margin: 21px 20px 1px 106px;
}
.line {
    width: 82%;
    height: 0px;
    border-bottom: 3px solid #FFFFFF;
    display: inline-block;
    margin: 0px 2px 2px 100px;
}
.card_info {
    width: 82%;
    height: 184px;
    background: #D7D7DD;
    text-align: center;
    margin: 5px 87px 0 102px;
    padding: 3%;
    box-sizing:border-box;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    color: #202846;
    position: relative;
}
.card_star {
    position: absolute;
    left: 95%;
    right: 2.12%;
    top: 6%;
    bottom: 17.69%;
    }
button {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 85%;
    right: 68.39%;
    top: 78%;
    bottom: 0%;
    background: #202846;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    align-items: center;
    text-align: center;
    color: #FFFFFF; 
    border-radius: 35px;
}

.text_block {
    position: relative;
}

.container_btn {
    position: absolute;
    width: 101px;
    height: 101px;
    background: rgba(85, 87, 104, 0.62);
    left: 92%;
    right: 7.14%;
    top: 60%;
    bottom: 28.57%; 
   /*transform: rotate(-90deg);*/
    border-radius: 50%;
}

footer {
    height: 90px;
    background-color: #202846;
    z-index: 2;
}
.trade_mark {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    align-items: center;
    color: #EEECF1;
    padding-left: 2%;
}