
.first_icon {
    height: 770px;
    width: 770px;
    background-image: url(../img/Speechify\ -\ Square.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
}
.second_icon {
    background-image: url(../img/Rectangle\ 2.png);
    height: 770px;
    width: 770px;
    background-image: url(../img/Speechify\ -\ Circle.png);
    display: inline-block;
}
.first_row {
    display: inline-block;
    width: 1600 px;
}

.second_row {
   /* display: inline-block; */
    width: 1600 px;
}
.third_icon {
    background-image: url(../img/Square.png);
    height: 770px;
    width: 770px;
    display: inline-block;
    }

.fourth_icon {
    background-image: url(../img/Border.png);
    height: 770px;
    width: 770px;
    background-image: url(../img/Circle.png);
    display: inline-block;
}
.third_row {
    
    width: 1600 px;
}
.fifth_icon {
    background-image: url(../img/Petcube\ -\ Square.png);
    height: 770px;
    width: 770px;
    display: inline-block;
   }
.sixth_icon {
    background-image: url(../img/Petcube\ -\ Circle.png);
    height: 770px;
    width: 770px;
    display: inline-block;
}
.forth_row {
    display: inline-block;
    width: 1600 px;
}
.seventh_icon {
    background-image: url(../img/Spark\ -\ Square.png);
    height: 770px;
    width: 770px;
    display: inline-block;
}
.eighth_icon {
    background-image: url(../img/Spark\ -\ Circle.png);
    height: 770px;
    width: 770px;
    display: inline-block;
}
.fifth_row {
    display: inline-block;
    width: 1600 px; 
}
.ninth_icon {
    background-image: url(../img/Diia\ -\ Square.png);
    height: 770px;
    width: 770px;
    display: inline-block;
}
.tenth_icon {
    background-image: url(../img/Diia\ -\ Circle.png);
    height: 770px;
    width: 770px;
    display: inline-block;
}
.eleventh_icon {
    background-image: url(../img/Diia\ -\ Down.png);
    height: 770px;
    width: 770px;
    display: inline-block;
}
.twelfth_icon {
    background-image: url(../img/Diia\ -\ Flag2.png);
    height: 770px;
    width: 770px;
    display: inline-block;
}
.thirteenth_icon {
    background-image: url(../img/Diia\ -\ Flag3.png);
    height: 770px;
    width: 770px;
    display: inline-block;    
}
