body {
    background-color:#212529;
    height: 2069 px;
    }

.header {
    height: 66px;
    background-color:#212529;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}
.navbar_logo {
    vertical-align: middle;
    margin-left: 62px; 

}

.navbar {
    width: 429px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 12px;
    gap: 5px;
    margin-top: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    box-sizing:border-box;
    }

.navbar a {
    text-decoration: none;
    color:#E5E5E5;

}
.navbar >a:hover {
    color: #FFB742;
    transition: all.4s;
}

button  {
box-sizing: border-box;
background: #FFB742;
border: 2px solid #FFB742;
border-radius: 50px;
width: 121px;
height: 54px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
margin-top: 0.5%;
margin-right: 48px;
text-decoration: none;
color: #212529;
}

button a  {
    text-decoration: none; color:#212529;
}

section {
    background-color:#212529;  
} 

.greetings {
    background-color:#212529; 
}

.greetings_subtitle {
   font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 51px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    padding-top: 125px;
}
span {
    color:#FFB742;
    text-decoration: underline;
    text-align: center;
}
.greetings_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.greetings_information {
   font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 22px;
}
.greetings_picture {
    background: #FFFFFF;
    text-align: center;
    padding-bottom: 137px;
    background-color:#212529;
}
.cards {
    display:flex;
    justify-content: space-between;
    flex-direction: row;

}
.card_container {
    width: 30%;
    height: 120px;
    background: rgba(41,43,46,1);    
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    

}
.card_container a {
    text-decoration: none;
   

}
.card_container:hover {
    background-color: #FFB742;
    
    transition: all.4s;
}
.card_container:hover .amout {
    color: black;
}
.card_container:hover .info {
    color: black;
}
.amout {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFB742;
}
.info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color:#E5E5E5;
}

.about_me {
    height: 735px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}
.my_photo {
    padding-top: 137px;
    padding-bottom: 55px;
}
.another {
    width: 148px;
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;
    color:#FFB742;
    border-color: #212529;
    margin-top: 224.4px;
}
 
.about_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 10px;
}
.about_info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;    
    margin-top: 30px;
    margin-bottom: 30px;
}
.works button {
    
    width: 160px;
    height: 42px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;  
    color: #FFB742;    
    display: block;
    margin-left: 44%;
    margin-top: 0;
    text-align: center;
    border-color:#212529;
}
.works_title { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center; 
    color: #FFFFFF;
    margin-bottom: 35px;
}
.works_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 652px;
    height:40px;
    margin: 0 auto;
    text-decoration: none;
    margin-bottom: 50px;
}
.one, .two, .three, .four  {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
a {text-decoration: none;}

.works_nav>a:hover {
    color: #FFB742;
    transition: all.4s;
}
.works {
    width: 1600px;
    height: 1038px;
    margin: 0 auto;
    box-sizing:border-box;
}
.works_container {
   margin: 0 auto;
   width: 80%;
   box-sizing:border-box;

}

.first_row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center; 
    margin-bottom: 32px;
    flex-wrap: wrap;
}
.second_row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.second_site {
    margin-left: 20px;
    margin-right: 20px;
}
.fourth_site {
    margin-left: 20 px;
    margin-right: 20 px;    
}
footer {
    margin-top: 116.32px;
    height: 470px;
    width: 98%;
    display: flex;  
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color:rgba(28, 28, 28, 1)
    padding-top: 148px;
}
.column_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
}
.column_info {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
}
.column_subtitle {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
}
.first_column {
    height: 254px;
    width: 239px;    
    padding-right: 62px;
}
.column_inform {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
}
