.header {
    height: 54px;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #3E45E8;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 31px;
    }
.yellow {
    color: gold;
    font-family: "Marcellus SC", serif;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    text-align: center;
}
.home {
    background-image: url(../img/bg1.jpg);
    min-height: 803px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 100%;
    
    padding-left: 80px;
}
.home_text {
    background-repeat:no-repeat;
    background-image: url(../img/flag.png);
    font-family: 'Inika';
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;
    padding-left: 10%
    
}
.container {
    width: 60%;
    display: inline-block;
    padding-top: 206px;
    padding-left: 80 px;
    }

.places_header {
    font-family: 'Inika', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
    margin-top: 72px;
    margin-bottom: 25px;
    padding-left: 80px;
}
.places_line {
    width: 361px;
    border-bottom: 5px solid #3E45E8; 
    margin-left: 80px;  
}
.card_container {
    width: 392px;
    height: 303 px;
    display: inline-block;
    height: 481px;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 80px;
    margin-top: 33px;
}
.card_title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    color: #1E8DF2;
    padding-left: 10px;
}
.card_subtitle {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    color: #E8C23E;
    padding-left: 10px;
}


.victory_title {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
    color: #000000;
    text-align: center;
}
.victory_line {
    width: 361px;
    border-bottom: 5px solid #3E45E8; 
    margin: 0 auto;
}
.victory_picture {
    margin-left: 384px;
    margin-top: 50px;
}

.victory_btn {
   
    background: #2A61F0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 157.3%;
    color: #FFFFFF;
    border: #FFFFFF;
    margin-left: 618px;
}

.footer_container {
    height: 320px;
    margin-top: 31px;
    background-image: url(../img/footer_bg.png);
    width: 100%;

}
.footer_title {
    height: 54px;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
    color: #3E45E8;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 31px;
}
.footer_mail {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #A89D9D;
}
a {text-decoration: none;color:#A89D9D;
cursor: url(../img/hand.png), auto;
}

.footer_call {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #A89D9D;
}
#c {color:#1E8DF2};